@charset "UTF-8";
/* 햄버거 */
.ham{
  width: 30px;
  height: 2px;
  display: block;
  z-index: 3;
  right: 0;
  top: 0;
  transition: all 3s;
}
.ham::before{
  content: "";
  width: 30px;
  height: 2px;
  border-top: 3px solid #fff;
  display: block;
  z-index: 2;
  cursor: pointer;
  padding-bottom: 3px;
  transition: all 3s;
}
.header_bg .ham::before{
  border-top-color:#333;
}
.ham::after{
  content: "";
  width: 30px;
  height: 2px;
  border-bottom: #fff 3px solid;
  display: block;
  cursor: pointer;
  padding-top: 4px;
  transition: all 0.5s;
}
.header_bg .ham::after{
 border-bottom-color: #333 ;
}
header nav .enb li.ham a{
  text-indent: -9999px;
  display: block;
  background-color: #fff;
  height: 2px;
  width: 30px;
  padding: 0;
  transition: all 0.5s;
}
.header_bg nav .enb li.ham a{
  background-color: #333;
}
#popup .ham::before{
  border-top-color:#333 !important;
}
#popup .ham::after{
  border-bottom-color:#333 !important;
}
#popup .ham a {
   background-color: #181818 !important;
   text-indent: -9999px;
   display: block;
   background-color: #fff;
   height: 2px;
   width: 30px;
   padding: 0;
   transition: all 0.5s;
}
/* 햄버거애니x */
#popup .ham.x::before{
 animation-name:movedown;
 animation-duration: 0.5s;
 animation-fill-mode: forwards ;
 display: block; 
}
@keyframes movedown{
  0%{
     transform:translateY(0px)  rotate(0deg);
  }
  30%{
    transform:translateY(7px)  rotate(0deg);
  } 
  100%{
    transform:translateY(7px) rotate(-45deg);
  }
}

#popup .ham.x::after{
animation-name:moveup;
 animation-duration: 0.5s;
 animation-fill-mode: forwards ;
 display: block; 
}
@keyframes moveup{
  0%{
    transform:translateY(0px) rotate(0deg);
  } 
  30%{
    transform:translateY(-7px) rotate(0deg);
  } 
  100%{
    transform:translateY(-7px) rotate(45deg);
  }
}
#popup .ham.x::after{
animation-name:moveup;
 animation-duration: 0.5s;
 animation-fill-mode: forwards ;
 display: block; 
}
@keyframes moveup{
  0%{
    transform:translateY(0px) rotate(0deg);
  } 
  30%{
    transform:translateY(-7px) rotate(0deg);
  } 
  100%{
    transform:translateY(-7px) rotate(45deg);
  }
}
#popup .ham.x a{
 animation-name:op; 
 animation-duration: 0.5s;
 animation-fill-mode: forwards ; 
}
@keyframes op{
  100%{
    opacity: 0;
  }
}

