@charset "utf-8";
#property span.control{
  position: absolute;
  right: calc((100% - 1200px) / 2);
  top: 373%; 
  }
#property span.control button{
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 17px;
  position: relative;
}
#property span.control button+button::before{
  content: "/ ";
  position: absolute;
  left: -2px;
  color: #ccc;
}
  