@charset "utf-8";
html{
  font-size:16px;
}
h3,h4,h5,h6,a,p,span,input,button,li,strong,address,legend,textarea{
  font-weight: 300 !important; 
}
h1,h2,#title h2 span{
  font-family: 'Playfair Display', serif;
  font-weight: 900;  
  font-size: 40px;
}
h3,h4,h5,h6,h1 a,h2 a,h3 a,h4 a,h5 a,h6 a,legend,textarea{
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Playfair Display', serif !important;
}
header h1 a,textarea{
  font-family: 'Noto Sans KR', sans-serif !important;
  font-weight: 900;
}
/* a,p,li{
  font-weight: 300;  
} */

