@charset "utf-8";
/* 메인영역------------------------- */
/* 팝업오른쪽 */
#popup div.right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 132px;
  position: absolute;
  top: 87px;
  z-index: 2;
  left: calc(50% + (394px / 2));
  height: 400px;
}
#popup div.right li{
  list-style: none;
}
#popup div.right a{
  color: #fff;
  position: relative;
  width: 45px;
  height: 30px;
  display: block;
  text-align: center;
  text-decoration: none;
}
#popup div.right a::before{
  content: "";
  width: 2px;
  height: 40px;
  display: block;
  background-color: #fff;
  position: absolute;
  top: -45px;
  transform: rotate(-45deg);
  left: calc(50% - 1px);
}
#popup div.right a::after{
  content: "";
  width: 2px;
    height: 40px;
  display: block;
  background-color: #fff;
  position: absolute;
  top: -45px;
  transform: rotate(45deg);
  left: calc(50% - 1px);
}
#popup div.right p{
  color: #fff;
  font-size: 16px;
  padding-top: 40px;
  border-top: 1px solid #fff;
  width: 77px;
  text-align: center;
  line-height: 1.5;
}
#popup div.right p span{
  color: #fff;
}
.block{
  display: block;
}

html{
  font-size: 14px;
}
/* 사이드퀵메뉴 */
#aside{
  position: fixed;
  right: 0;
  top:300px;
  height: 500px;
  display: flex;  
  flex-direction: column; 
  justify-content: center;
  width: 200px;
  z-index: 1;
}
#aside ul.qlist{
  margin-bottom: 20px;
}
#aside ul.qlist li{
  margin-bottom:10px;
  width: 150px;
  color: #808c97;
}
/* #aside ul.qlist li::before{
  content: "●";
  display:inline-block;
  font-size:10px ;
  line-height: 2;
  vertical-align: 3px;
  margin-right: 10px;
  width: 20px;  
  text-align: right;
} */
#aside ul.qlist li::before{
  content: "";
  display:inline-block;
  font-size:10px ;
  line-height: 2;
  vertical-align: 3px;
  margin-right: 11px;
  width: 8px;  
  text-align: right;
  height: 8px;
  background-color: #808c97;;
  margin-left: 17px;
  border-radius: 50%; 
}
#aside ul.qlist li:nth-child(1)::before{
 content: "- 01";  
  font-size: 13px;
  background-color: transparent;
  width: 25px;
  height: 25px;
  margin-left: 0; 
}
#aside ul.qlist li a{
  line-height: 2;
  display:inline-block;
  width: 68%;
  font-size: 13px;
/*   background-color: #808c97; */
  padding-left: 15px;
  box-sizing: border-box;
  border-radius: 20px;
  color: #979da8;
}
#aside ul.qlist li:nth-child(1) a{
  background-color: #808c97; 
  color: #f1f1f1;
}
#aside ul.qlist2{

}
#aside ul.qlist2 li{
  width: 148px;
  height: 73px;
text-align: right;
}
#aside ul.qlist2 li a{
  display: block;
  width: 100%;
  height: 100%; 
  background-repeat: no-repeat;
  background-position: left center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#aside ul.qlist2 li a span{
  
}
#aside ul.qlist2 li:nth-child(1) a{
  background-image: url(https://cloud.eais.go.kr/images/main/main_icn_local01.png);
  border-bottom: 1px solid #a0d7ee;
}
#aside ul.qlist2 li:nth-of-type(2) a{
  background-image: url(https://cloud.eais.go.kr/images/main/main_icn_local02.png);
  border-bottom: 1px solid #a0d7ee;
}
#aside ul.qlist2 li:nth-of-type(3) a{
  background-image: url(https://cloud.eais.go.kr/images/main/main_icn_local03.png);
}
#aside ul.qlist2 li:nth-of-type(4) a{
  background-image: url(https://cloud.eais.go.kr/images/main/main_icn_local04.png);
  background-color: #a0ddf894;
/*   background-color: rgba(0,0,0,0); */
}
section{
  /* height: 100%; */
  padding-bottom: 40px;
  /* box-sizing: border-box; */
  padding-top: 60px;
}

/* 민원신청------------------- */
section#apply{

}
section#apply.mb80{
  /* margin-bottom: 40px; */
}
section#apply div{
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 70px;
  text-align: center;
}
section#apply div h2{

}
section#apply div h2+p{
  text-align: center;
  font-size: 35px;
  margin-bottom: 38px;
  color: #313f5d;
}
section#apply div h2+p strong{
  font-weight: bold;
}
section#apply div fieldset{
  background-color: #48c6f7;
  display: inline-block;
  margin-bottom: 20px;
  padding: 5px 0px 5px 5px;
  border-radius: 6px;
}
section#apply div fieldset input{
  width: 274px;
  height: 29px;
  display: inline-block;
  border: none;
  border: 1px solid transparent;
  transition: all 0.3s;
  border-radius: 5px 0 0 5px;
  font-size: 17px;
}
section#apply div fieldset input:focus{
  box-shadow: 0 0 10px #fff;
  border: 1px solid #000;
}
section#apply div fieldset input[type="text"]{
  padding: 9px 164px 9px 15px;
  color: #48c6f7;
  font-weight: bold;
}
section#apply div fieldset button{
  font-size: 20px;
  vertical-align: -2px;
  border: navajowhite;
  background-color: transparent;
  color: #fff;
  padding: 0 28px;
  font-weight: bold;
}
section#apply div fieldset+p{
  margin-bottom: 40px;
  color: #577998;
}
section#apply div fieldset+p strong{
  background-color: #577998;
  line-height: 1.8;
  display: inline-block;
  padding: 0 18px;
  border-radius: 30px;
  color: #fff;
  margin-right: 10px;
}
section#apply div ul{
  margin-bottom: 30px;
  /*   perspective: 400px; */
  /*   perspective-origin: 50% 100%; */
  overflow: hidden;
}
section#apply div ul li{
  display: inline-block;
  vertical-align: top;
  width: 14%;
  height: 220px;
  background-color: rgba(255,255,255,0.6);
}
section#apply div ul li:hover{
	border: solid #4d97e6 1px; 
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5); 
	-webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
	-moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
}
section#apply div ul li::before{
  content: "";
  display: inline-block;
  width: 94px;
  height: 75px;
  margin-top: 25px;
  margin-bottom: 10px;
  background-size: 105%;
  background-repeat: no-repeat;
  background-position: center;
  /*! transform: rotateY(180deg); */
}
section#apply div ul li:nth-child(1)::before{
  background-image: url(https://cloud.eais.go.kr/images/main/main01_micn_01.png);
}
section#apply div ul li:nth-child(2)::before{
  background-image: url(https://cloud.eais.go.kr/images/main/main01_micn_02.png);
}
section#apply div ul li:nth-child(3)::before{
  background-image: url(https://cloud.eais.go.kr/images/main/main01_micn_03.png);
}
section#apply div ul li:nth-child(4)::before{
  background-image: url(https://cloud.eais.go.kr/images/main/main01_micn_04.png);
}
section#apply div ul li:nth-child(5)::before{
  background-image: url(https://cloud.eais.go.kr/images/main/main01_micn_05.png);
}
section#apply div ul li:nth-child(6)::before{
  content: "+";
  background-image: none;
  background-color: #8291a5;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 50px;
  line-height: 60px;
  color: #fff;
  transform: rotateY(0deg);
  transition: all 1s;
  margin-top: 40px;
}
section#apply div ul li:nth-child(6):hover::before{
  transform: rotateY(180deg);
}
section#apply div ul li p{
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1.3;
}
section#apply div ul li a{
  color: #fff;
  font-size: 14px;
  padding: 3px;
}
section#apply div ul li a:nth-of-type(1){
  content: "";
  width: 40px;
  display: inline-block;
  line-height: 1.5;
  background-color: #f54a47;
}
section#apply div ul li a:nth-of-type(2){
  content: "";
  width: 40px;
  display: inline-block;
  line-height: 1.5;
  background-color: #3da2dc;
}
section#apply div ul li:nth-child(5) a:nth-of-type(1){
  content: "";
  width: 40px;
  display: inline-block;
  line-height: 1.5;
  background-color: #3da2dc;
}
section#apply div ul li:nth-child(5) a:nth-of-type(2){
  content: "";
  width: 40px;
  display: inline-block;
  line-height: 1.5;
  background-color: #39b54a;
}
section#apply div ul li:nth-child(6) a{
  display: block;
  width: 100px;
  font-size: 18px;
  line-height: 1.3;
  background-color: rgba(0,0,0,0);
  color: #8392a5;
  padding: 9px 34px;
}
section#apply div p.call{
  font-size: 14px;
  line-height: 2;
  font-weight: bold;
  color: red;
}
section#apply div p.call strong{
  color: #333;
}
section#apply div p.time{
  font-size: 12px;
  margin-bottom: 40px;
  color: #595858;
}
section#apply div span.go{
  display: block;
}
section#apply div span.go a{
  width: 200px;
  display: inline-block;
  line-height: 2.5;
  /*! background-color: #30889c; */
  font-size: 15px;
  color: #fff;
  background: -moz-linear-gradient(-45deg, #3da3dd 30%, #48c6f7 72%);
}
section#apply div span.go a+a{
  color: #404040 !important;
  background: -moz-linear-gradient(-45deg, #fff 30%, #fff 72%);
}
/* 협의.공모외----------------- */
section#collusion{
  /*! background-color:#2d78de; */   
  padding: 0;
}
/* 유용한 서비스---------------- */
section#service{
  /*! background-color:purple; */    
}
/* 건축물대장 */
#architecture{
  background-color: #dde4ec;
}
#architecture div{
  max-width: 1200px;
  text-align: center;
}
#architecture div h2{ 
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: -3px;
}
#architecture div h2+p{
  font-size: 13px;
  line-height: 1.6;
}
#architecture div ul{
  margin-top: 20px;
}
#architecture div ul:nth-of-type(1){
  overflow: hidden;
  display: inline-block;
  width: 1200px;
}
#architecture div ul:nth-of-type(1) li{  
  float: left;
  width: calc(100% / 3 - 10px);
  height: 300px;
background-color: #a0ddf8;
  /*! display: inline-block; */
  margin: 0 5px;
  background: linear-gradient(to top, #99dbec 70%, #fff 70%);
  background: -moz-linear-gradient(top, #a0ddf8 70%, #fff 70%);
}
#architecture div ul:nth-of-type(1) li:nth-child(2){
  background: -moz-linear-gradient(top, #99dbec 70%, #fff 70%);
}
#architecture div ul:nth-of-type(1) li:nth-child(3){
  height: 145px;
  margin-bottom: 10px;
  background: none;
  background-color: #fff;
}
#architecture div ul:nth-of-type(1) li:nth-child(4){
  height: 145px;
  background: none;
  background-color: #fff;
}
#architecture div ul:nth-of-type(1) li a{
  display: block;
  height: 100%;
  padding-top: 30px;
  box-sizing: border-box;
  width: 100%;
  /*! padding-left: 20px; */
  /*! padding-right: 20px; */
}
#architecture div ul:nth-of-type(1) li:nth-child(1) a{
  background-image: url(https://cloud.eais.go.kr/images/main/main02_ricn_01.png);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center 70px;
}
#architecture div ul:nth-of-type(1) li:nth-child(2) a{
  background-image: url(https://cloud.eais.go.kr/images/main/main02_ricn_02.png);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center 70px;
}
#architecture div ul:nth-of-type(1) li:nth-child(3) a{
  background-image: url(https://cloud.eais.go.kr/images/main/main02_ricn_03.png);
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: center right 30px;
}
#architecture div ul:nth-of-type(1) li:nth-child(4) a{
  background-image: url(https://cloud.eais.go.kr/images/main/main02_ricn_04.png);
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: center right 30px;
}
#architecture div ul:nth-of-type(1) li a h3{
  font-size: 22px;
  margin-bottom: 110px;
  margin-top: 10px;
}
#architecture div ul:nth-of-type(1) li:nth-child(3) a h3, #architecture div ul:nth-of-type(1) li:nth-child(4) a h3{
  text-align: left;
  padding-left: 30px;
  line-height: 1.5;
  font-weight: bold;
}
#architecture div ul:nth-of-type(1) li a h3 strong{
  font-weight: bold;
}
#architecture div ul:nth-of-type(1) li a p{
  font-size: 15px;
  padding-top: 68px;
  width: 100%;
}
#architecture div ul:nth-of-type(2){
  
}
#architecture div ul:nth-of-type(2) li{
  /*! width: 200px; */
  /*! height: 20px; */
  display: inline-block;
  border: 1px solid;
  padding: 10px 50px;
  border-radius: 50px;
}
#architecture div ul:nth-of-type(2) li:after{
  content: "";
  width: 20px;
  height: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 2px 5px;
}
#architecture div ul:nth-of-type(2) li:first-child:after{
    background-image: url(https://cloud.eais.go.kr/images/icon/icn_download.png);
}
#architecture div ul:nth-of-type(2) li:last-child:after{
    background-image: url(https://cloud.eais.go.kr/images/icon/icn_pdf.png);
}
#architecture div ul:nth-of-type(2) li a{
  /*! width: 200px; */
  /*! height: 20px; */
  display: inline-block;
  line-height: 1.5;
  text-align: center;
}
#architecture div p:last-child{
  padding-top: 20px;
  line-height: 1.5;
  color: #919191;
}

/* 통합협의 */
#collusion{

}
#collusion .block_center{
  position: relative;
  overflow: hidden;
  height: 654px;
}

/* 슬라이드요소 */
#collusion .block_center .slide{
  overflow: hidden;
  width: 300%;
  position: absolute;
  left: 0;
  top: 0;
}
#collusion .block_center .slideitem{
  margin: 0 auto;
  color: #fff;
  background-image: url(https://cloud.eais.go.kr/images/main/main03_vis_cybersys.jpg);
  background-repeat: no-repeat;
  background-position: center right;
  background-color: #2d78de; 
  padding: 140px 0 300px;
  padding-left: calc((33.333333333% - 900px) / 2);
  padding-right: calc((33.333333333% - 900px) / 2);
  background-origin: content-box;
  /*! background-size: 48%; */
  /*! background-position-x: calc\((100% - ((100% - 1000px) / 2)); */
  background-size: 46%;
  float: left;
  width: calc(100% / 3);
  box-sizing: border-box;
  position: relative;
}
#collusion .block_center .slideitem::before{
/*   content: ""; */
  display: block;
  width: 800px;
  height: 200px;
  position: absolute;
  left: 312px;
  top: 129px;
  /*! background-color: #333; */
  transform: perspective(800px) rotateY(60deg);
  background: -moz-linear-gradient(left, #000 0%,transparent 50%);
  background: linear-gradient(to right,#000 0%,transparent 100%);
}
#collusion .block_center .slideitem h2{
  font-size: 20px;
  margin-bottom: 20px;
  position: relative;
  color: #fff;
}
#collusion .block_center .slideitem strong{
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
  display: block;
 /* 해야line-height: 1.1;적용됨*/
  color: #fff;
}
#collusion .block_center .slideitem span{
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}
#collusion .block_center .slideitem p{
  font-size: 16px;
  margin: 50px 0;
  position: relative;
  line-height: 1.5;
  color: #fff;
}
#collusion .block_center .slideitem a{
  color: #fff;
  border: 1px solid;
  font-size: 14px;
  padding: 7px 14px;
  display: inline-block;
  position: relative;
}

/* 컨트롤 */
#collusion .block_center span.control{
  max-width: 1100px;
  display: block;
  position: absolute;
  top: 39%;
  width: 100%;
  left: calc(50% - 550px);
} 
#collusion .block_center span.control a{
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  transform: rotate(45deg);
} 
#collusion .block_center span.control a:first-child{
  float: left;
  border-top: transparent;
  border-right: transparent;
}
#collusion .block_center span.control a:last-child{
  float: right;
  border-bottom: transparent;
  border-left: tan;
}
#collusion .block_center ul.list{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: 600px;
  margin: 0 auto;
  /*! justify-content: space-between; */
  justify-content: space-around; /* 자식요소의 좌우에 간격지정 */
  /*   align-items: center; */
  position: absolute;
  bottom: 91px;
  left: calc(50% - 300px);
}
#collusion .block_center ul.list li{
  margin-top: 100px;
  border-top: 1px solid #fff;
}
#collusion .block_center ul.list li:first-child{
  border-top: 3px solid #05eefa;
}
#collusion .block_center ul.list li:not(:first-child){
  opacity: 0.3;
}
#collusion .block_center ul.list li a{  
  padding: 10px 10px;
  display: block;
  color: #fff;
}

/* 유용한 서비스 */
#service{

}
#service .block_center{
  max-width: 1200px;
  text-align: center;
}
#service .block_center h2{
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 40px;
  letter-spacing: -3px;
}
/* 유용한서비스목록 */
#service .block_center ul.ulist{
  width: 900px;
  height: 150px;
  margin: 0 auto;
  padding-bottom: 40px;
  font-size: 12px;  
}
#service .block_center ul.ulist li{
  display: inline-flex;
  width: 140px;
  height: 125px;
  background-repeat: no-repeat;
  background-position: top; 
  border-right: 3px dotted #dedede;
}
#service .block_center ul.ulist li:nth-child(1){
   background-image: url(https://cloud.eais.go.kr/images/main/main04_sev_icn_01.png);
}
#service .block_center ul.ulist li:nth-child(2){
   background-image: url(https://cloud.eais.go.kr/images/main/main04_sev_icn_02.png);
}
#service .block_center ul.ulist li:nth-child(3){
   background-image: url(https://cloud.eais.go.kr/images/main/main04_sev_icn_03.png);
}
#service .block_center ul.ulist li:nth-child(4){
   background-image: url(https://cloud.eais.go.kr/images/main/main04_sev_icn_04.png);
}
#service .block_center ul.ulist li:nth-child(5){
   background-image: url(https://cloud.eais.go.kr/images/main/main04_sev_icn_05.png);
}
#service .block_center ul.ulist li:nth-child(6){
   background-image: url(https://cloud.eais.go.kr/images/main/main04_sev_icn_06.png);
   border-right: none;
}
#service .block_center ul.ulist li a{
  width: 130px;
  height: 40px;  
  display: inline-block;
  margin-top: 90px;
  line-height: 1.3;
}
/* 건축통계서비스/공지사항/장애현황 */
#service .block_center div.div3{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#service .block_center div.div3>*{
  width: 27%;
  height: 230px;
}
/* 슬라이드  */
#service .block_center div.div3 .slide{
  background-color: #6eb8e3;
  padding: 20px 25px;
}
#service .block_center div.div3 .slide ul.number{
  display: flex;
}
#service .block_center div.div3 .slide ul.number li{
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: #fff;
  text-align: center;
  line-height: 1.5;
  margin: 3px;
}
#service .block_center div.div3 .slide ul.number li:first-child{
  background-color:#000;
}
#service .block_center div.div3 .slide ul.number li:first-child a{
  color: #fff;
}
#service .block_center div.div3 .slide ul.number li a{

}
#service .block_center div.div3 .slide div.slide1{
  text-align: right;
  /*! position: relative; */
  height: 200px;
  display: inline-block;
  width: 100%;  
  background-image: url(https://cloud.eais.go.kr/images/main/main02_ricn_01.png);
  background-repeat: no-repeat;
background-position: bottom left;
background-size: 55%;

}
#service .block_center div.div3 .slide div.slide1 a{
  /*! padding: 20px; */
  display: block;
  width: 100%;
  height: 100%;
 
}
#service .block_center div.div3 .slide div.slide1 a h3{
  height: 40px;
  font-size: 25px;
  color: #fff;
}
#service .block_center div.div3 .slide div.slide1 a p{
  height: 130px;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
}
#service .block_center div.div3 .slide div.slide1 a span.go{
  padding: 4px 20px;
  background-color: #000;
  color: #fff;
  border-radius: 50px;
}
/* 공지사항 */
#service .block_center div.div3 div.notice{
  background-color: #f2f6fb; 
  padding: 20px 25px;
}
#service .block_center div.div3 div.notice h3{
  height: 55px;
  font-size: 20px;
  text-align: left;
  font-weight: bold;
}
#service .block_center div.div3 div.notice h3:after{
  content: "";
  border-bottom: 2px solid red;
  width: 30px;
  display: block;
  margin-top: 10px;
}
#service .block_center div.div3 div.notice ul{
  
}
#service .block_center div.div3 div.notice ul li{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: 241px;
  padding-bottom: 20px;
}
#service .block_center div.div3 div.notice ul li a{
  font-weight: bold;
}
#service .block_center div.div3 div.notice ul li time{
  display: block;
  text-align: left;
  padding-top: 10px;
  font-size: 12px;
  color: #919191;
}
#service .block_center div.div3 div.notice a.more{
  /*! text-indent: -999px; */
}
#service .block_center div.div3 div.notice a.more:before{
  content: "+";
  top:0
}

/* 에러사항 */
#service .block_center div.div3 div.error{
  background-color: #efefef;
 
  padding: 30px 30px;
}
#service .block_center div.div3 div.error h3{
  height: 55px;
  font-size: 20px;
  text-align: left;
  font-weight: bold;
}
#service .block_center div.div3 div.error h3:after{
  content: "";
  border-bottom: 2px solid red;
  width: 30px;
  display: block;
  margin-top: 10px;
}
#service .block_center div.div3 div.error ul{
  display: inline-flex;
  justify-content: left;
  flex-direction: column;
width: 100%;
}
#service .block_center div.div3 div.error ul li{
  padding-bottom: 15px;
  color: #777171;
  text-align: left;
}
#service .block_center div.div3 div.error ul li a{
  width: 40px;
  height: 20px;
  background-color: #0066cc;
  line-height: 1.3;
  color: #fff;
  border: 1px solid;
  border-radius: 50px;
  float: right;
  text-align: center;
}
/* 기타항목3개 */
#service .block_center div.etc{
  display: flex;
  width: 900px;
  margin: 0 auto;
  padding-top: 20px;
}
#service .block_center div.etc fieldset{
  width: 600px;
  display: flex;
}
#service .block_center div.etc fieldset legend{
  text-indent: -999px;
}
#service .block_center div.etc fieldset label{
  display: inline;
  padding-right: 10px;
  font-size: 17px;
  line-height: 3;
}
#service .block_center div.etc fieldset fieldset.serch{
  display: inline-block;
height: 48px;
border: 2px solid #4c4c4c;
  width: 398px;
}
#service .block_center div.etc fieldset input{
  width: 333px;
  height: 32px;
  display: inline-block;
  border: none;
  border: 1px solid transparent;
  /*! transition: all 0.3s; */
  font-size: 20px;
}
#service .block_center div.etc fieldset input:focus{
  box-shadow: 0 0 10px #fff;
  border: 1px solid #000;
}
#service .block_center div.etc fieldset input[type="text"]{
  padding: 8px 10px;
  font-size: 17px;
  border: 0;
}
#service .block_center div.etc fieldset button{
  font-size: 20px;
  vertical-align: -2px;
  border: navajowhite;
  background-color: transparent;
  padding: 0px 20px;
  background-image: url(https://cloud.eais.go.kr/images/main/main04_icn_search.png);
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
  border-left: 1px solid; 
}
#service .block_center div.etc ul{
  display: flex;
  justify-content: center;
  
  width: 50%;
  height: 61px;
}
#service .block_center div.etc ul li{
  margin-bottom: 10px;
  border: 1px solid #ccc; 
  width: 140px;
  margin-right: 8px;
  height: 40px;
  padding: 10px;
}
#service .block_center div.etc ul li a{
  color: #747373;
  font-weight: bold;
  line-height: 1.3;
  font-size: 12px;
}
#service .block_center div.etc ul li:nth-child(2) a{
  color: #4dc1f1;
  font-size: 18px;
  line-height: 1.2;
}
#service .block_center div.etc ul li a strong{
  color: #153263;
  font-size: 18px;
  display: block;
}

/* 배너 */
#banner{
  background-color: #eeeeee;
  position: relative;
  padding: 20px 90px;
}
#banner h2{

}
#banner ul{
  display: flex;
  width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
}
#banner ul li{
 
}
#banner ul li a{
  display: inline-block;
  text-align: center;
}
#banner ul li a img{
  width: 70%;
}
#banner span{
  position: absolute;
  width: calc(100% - (100% - 1000px));
  left: calc(50% - 500px);
  top: 35px;
}
#banner span a{

}
#banner span a.prev{
  float: left;
  position: relative;
  left: -25px;
  text-indent: -9999px;
  width: 13px;
  height: 13px;
  border: 1px solid #8d8d8d;
  transform: rotate(45deg);
  border-top: transparent;
  border-right: transparent;
}
#banner span a.next{
  float: right;
  position: relative;
  left: 25px;
  text-indent: -9999px;
  width: 13px;
  height: 13px;
  border: 1px solid #8d8d8d;
  transform: rotate(45deg);
  border-bottom: transparent;
  border-left: transparent;
}