footer{
  padding: 40px 0;
  margin-top: 60px;
}
footer .f1{
  background-color: #efefef;
  padding: 50px;
  font-size: 13px;
}
footer .f1 .f1in{
  max-width: 1200px;
  margin: 0 auto;
}
footer .f1 .f1in div{
  display: inline-block;
  vertical-align: top;
}
footer .f1 .f1in div>*{
  line-height: 2.5;
  color: #666666;
}
footer .f1 .f1in div:nth-child(1){
  width: 18%;
}
footer .f1 .f1in div:nth-child(1) h1{
  font-weight: bold;
}
footer .f1 .f1in div:nth-child(2){
  width: 41%;
}
footer .f1 .f1in div:nth-child(2) address{
  font-style: normal;
}
footer .f1 .f1in div:nth-child(3){
  width: 30%;
}
footer .f1 .f1in div:nth-child(4) ul li a{
  line-height: 2.5;
  display: block;
  color: #666666;
}
footer .f1 .f1in div:nth-child(4) ul li:nth-child(1) a{
  color: red;
}
footer .f2{
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}
footer .f2>*{
  display: inline-block;
  vertical-align: top;
}
footer .f2 .banner{
  width: 50%;
}
footer .f2 .banner li{
  display: inline-block;
}
footer .f2 .banner li a {
  height: 100%;
  display: block;
}
footer .f2 .banner li a img{

  margin-right: 15px;
}
footer .f2 .sns{
  width: 33%;
  text-align: right;
}
footer .hide{
  display: none;
}
footer .f2 .sns li{
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
footer .f2 .sns li a i{
  width: 40px;
  height: 40px;
  background-color: #787878;
  display: block;
  color: white;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  font-style: normal;
  font-size: 25px;
}
footer .f2 .sns li:nth-child(1) a i{
  font-size: 14px;
  font-weight: bold;
}
footer .f2 .sns li:nth-child(2) a i{
  font-size: 28px;
}
footer .f2 select{
  float: right;
  padding: 10px;
  border: 1px solid #999;
  padding-right: 23px;
  color: #999;
}