@charset "utf-8";
header{
  padding: 0 1.5%;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  position:absolute;
  width: 100%;
  box-sizing: border-box;
}
hgroup{
  padding: 0 20px;
}
hgroup h1{
  
}
hgroup h1 a{
  font-size: 28px;
  line-height: 1.2;
}
hgroup h2{
  font-size: 11px;
  letter-spacing: 1.2px;
}
header span{
  position: absolute;
  right: 20px;
  padding: 0 20px;
}
header span.sns{
 left: 60px;
 bottom:30px; 
}
header>span a{
  width: 26px;
  height: 26px;
  display: inline-block;
  /*! text-indent:-9999px; */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: top;
}
header>span a:nth-child(1){
  background-image: url(../img/search.svg);
  text-indent: -9999px;
   margin-right: 20px;
}
header>span a:nth-child(2){
  /*! background-image: url(../img/ham.svg); */
  position: relative;
  z-index: 5;
}
/* ham클릭시 */
header div.gnbw{
position: absolute;
left: 0;
top: 0;
width:100%;
height: 100%;
overflow: hidden;
z-index: -1;
}
header div.gnb{
 position: absolute;
 left: 0;
 top: 0;
 width:100%;
 height: 100%;
 /*! display: block; */
 background-color: #eee;
 z-index: 4;
 display: flex;
 z-index: -1;
}
.gnbZ{
 z-index: 4 !important;
}
header div.gnb .left{
background-color: #fff;
 width: 50%;
padding-left: 70px;
display: flex;
flex-direction: column;
justify-content: center;
}
/* left */
header div.gnb .left ul{

}
header div.gnb .left ul li{

}
header div.gnb .left ul li a{

  font-size: 20px;
  line-height: 1.6;
  border: ;
}
header div.gnb div:nth-child(2){
}
/* right */
header div.gnb .right{
background-color: #dbdbd7;
width: 50%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
box-sizing: border-box;
padding: 30px 0 100px 60px;
}
header div.gnb .right ul.gnbRightFade{
  width: 85%;
}
header div.gnb .right ul.gnbRightFade li.fadeList{
  height: 500px;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header div.gnbw .right ul.gnbRightFade li.fadeList1{
background-image: url(http://www.lirikosmarine.com/int/en/product/__icsFiles/afieldfile/2019/02/25/deep-sea-waterfall-cream-hover.jpg);
}
header div.gnbw .right ul.gnbRightFade li.fadeList2{
background-image: url(http://www.lirikosmarine.com/int/en/product/__icsFiles/afieldfile/2019/02/25/facial-eraser-cleansing-foam_1.jpg);
}
header div.gnbw .right ul.gnbRightFade li.fadeList3{
background-image: url(http://www.lirikosmarine.com/int/en/product/__icsFiles/afieldfile/2019/02/25/facial-eraser-cleansing-oil-foam_1.jpg);
}
header div.gnbw .right ul.gnbRightFade li h3{
 font-size:27px;
 line-height: 1.6;
 margin-bottom: 20px;
}
header div.gnb .right ul.gnbRightFade li p{
 line-height: 1.7;
  margin-bottom: 60px;
}
header div.gnb .right ul.gnbRightFade li a{

}
header div.gnb .right ul.gnbRightFade li>*{

}
header div.gnb .right .slick-arrow{
  display: none;
}
header div.gnb h2{
  font-size: 30px;
  line-height: 2;
}
header div.gnb .right button.slick-arrow{
 display: none !important;
}
header div.gnb .right .slick-dots .slick-active{
  border-radius: 50%;
  border:1px solid #666;
}

/* 햅버거 */
/* .navbar-toggle {
  border: 0;
  padding: 15px;
  margin: 0;
  height: 50px;
  border-radius: 0;
  background: #16a085 !important;
}

.icon-bar {
  transition: all 0.3s;
  background: #fff !important;
}

.top-bar {
  transform: translateY(6px) rotate(45deg);
}

.middle-bar {
  opacity: 0;
}

.bottom-bar {
  transform: translateY(-6px) rotate(-45deg);
}

.navbar-toggle.collapsed .top-bar {
  top: 0;
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  top: 0;
  transform: rotate(0);
} */
.menuWrapper {
  position: absolute;
  top: 50%;
  left: 0;
  /*! transform: translate(-50%, %); */
  padding: 8px 10px;
  /*! background: #138a72; */
}

.menu {
  display: block;
  height: 5px;
  background: #333;
  width: 30px;
  position: relative;
  transition: all 0.3s;
}
.menu:before {
  content: "";
  position: absolute;
  top: -10px;
  background: #333;
  width: 30px;
  height: 5px;
  transition: all 0.3s;
}
.menu:after {
  content: "";
  position: absolute;
  top: 10px;
  background: #333;
  width: 30px;
  height: 5px;
  transition: all 0.3s;
}

.is-active {
  background: transparent;
}
.is-active:before {
  top: 0;
  transform: rotate(45deg);
}
.is-active:after {
  top: 0;
  transform: rotate(-45deg);
}
